.jumbotron {

}
body {
    background-image: url("https://www.swandolphin.com/images/home/hero/home_2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card, .card-body {
    opacity: .7
}
